.dark-background{
    background-color:#1F2937 ;
    padding: 50px;
    padding-top: 0;
    

}
/*Header and Top links*/

.header-links{
display: flex;
flex-direction: row;
gap: 330px;
flex: 1;


}
  .header-logo{
    color: #F9FAF8;
    font-size: 24px;  
    margin-bottom: 50px;
      
   
 }
  ul{
    display:flex;
    gap: 20px;
    list-style: none;
    /*color and size*/
    color: #E5E7EB;
    font-size:18px;
 }


 /*for this website is awesome*/
 .this-website{
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    
    


 }
 
 .awesome-heading{
    font-size: 48px;
    color: #F9FAF8;
    margin: 0px;
    
 }
    
 .image-placeholder{
   width: 400px;
    padding: 20px;
    text-align: center;
    align-items: center;
    color: #F9FAF8;
    background-color: rgb(190, 185, 185);
    }

.awesome-paragraph{
    font-size: 18px;
    color: #E5E7EB;
    width: 400px;
 }
 button{
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
 }

 /*Middle of the page*/
 .middle{
     


 }
 .random-info{
   display: flex;
   justify-content: center;
   font-weight: bolder;

 }

 .middle-images{
   background-color: #3882F6;
   
 }
 
 